*{
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}

	h1{
		text-align: center;
		font-size: 36 px;
	}
	p{
		margin: 2px;
	}
	#box{

		background-color: grey;
		border: 2px solid black;
		padding: 5px;
	}

	#menu1{
		float: right;
		clear: right;
		padding: 10px;
		text-align: center;
		background-color: lightpink;
		border: 2px solid black;
		width: 120px;
		font-weight: bold;
	}
	#menu2{
        float: right;
		clear: right;
		padding: 10px;
		text-align: center;
		background-color: maroon;
		color: white;
		border: 2px solid black;
		width: 120px;
		font-weight: bold;
	}
	#menu3{
		float: right;
		clear: right;
		padding: 10px;
		text-align: center;
		background-color: yellow;
		border: 2px solid black;
		width: 120px;
		font-weight: bold;
	}
	div{
		float: left;
	}
	.row{
		width: 100%;
	}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
 
  /* For tablets: */
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-1,.col-md-2,.col-md-3, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
  	float: left;
  }
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

/* For desktop: */
@media (min-width: 992px) {
  .col-1,.col-2,.col-3, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-9, .col-10, .col-11, .col-12{
  	float: left;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
